.App {
  text-align: center;
  height: 100vh;
 }

.tab-content{
  width: 100%;
}
.tab-pane {
  margin-top: 10px;
}

.box {
  display: inline-block;
  height: 75vh;
  background-color: #FDFCE9;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 3% 1% 1% 1%;
  padding: 2%;
  border-radius: 5%;
}

.box2 {
  display: inline-block;
  width: 45%;
  height: 65vh;
  background-color: #FDFCE9;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 3% 1% 1% 1%;
  padding: 2%;
  border-radius: 5%;
}

.procesos{
  width: 80%;
  margin: auto;
  margin-top: 2%;
  background-color: #FDFCE9;
  padding: 2%;
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

h2{
  margin: 5%;
}

.tab-pane h1{
  color: whitesmoke;
}

.box h1, .box2 h1{
  color: black
}

.nav-link {
  color: white;
  font-size: 20px;
}

h4 {
  color:whitesmoke
}